# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db


# Ignore config files (optional)
*.json
*.properties
.env

# ignore generated-image file
fingerprint.bmp
dependency-reduced-pom.xml

jre-custom/
logs/